{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "printWidth": 100,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 4,
                "printWidth": 120
            }
        },
        {
            "files": "*.css",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2,
                "proseWrap": "always"
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
